<nav class="navbar">
  <div class="navbar-container">

    <!-- Logo -->
    <div class="logo">
      <img
        src="assets/img/logo.png"
        alt="Logo Ciudad Bonita"
      >
    </div>

    <!-- Menú -->
    <ul class="nav-links">
      <li><a routerLink="/">Inicio</a></li>
      <li><a routerLink="/como-participar">Cómo participar</a></li>
      <li><a routerLink="/premios">Premios</a></li>
      <li>
        <a routerLink="/comprar-stikers" class="btn-primary">
          Comprar stiker
        </a>
      </li>
    </ul>

  </div>
</nav>
