<nav class="navbar">
  <div class="navbar-container">

    <!-- Logo -->
    <div class="logo">
      <img
        src="assets/img/logo.png"
        alt="Logo Ciudad Bonita"
      >
    </div>

    <!-- Links -->
    <ul class="nav-links">
      <li>
        <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
          Inicio
        </a>
      </li>

      <li>
        <a routerLink="/verificar-boleta" routerLinkActive="active">
          Verificar boleta
        </a>
      </li>

      <li>
        <a routerLink="/comprar-stikers"
           routerLinkActive="active"
           class="btn-primary">
          Comprar stiker
        </a>
      </li>
    </ul>

  </div>
</nav>
